<app-loading *ngIf="loading"></app-loading>

<div class="alert alert-danger animated fadeIn" *ngIf="error">
  <h3>Error</h3>
  <p>
    {{ msgError }}
  </p>
</div>

<app-cards [items]="newSongs" *ngIf="!loading && !error"></app-cards>
