<app-loading *ngIf="loading"></app-loading>

<div class="alert alert-danger animated fadeIn" *ngIf="error">
  <h3>Error</h3>
  <p>
    {{ msgError }}
  </p>
</div>

<div class="row animated fadeIn" *ngIf="!loading && !error">
  <div class="col-2">
    <img [src]="artist.images | noimage" class="img-thumbnail img-circle" />
  </div>
  <div class="col">
    <h3>{{ artist.name }}</h3>
    <p>
      <a [href]="artist.external_urls.spotify" target="_blank">Ir a la página del artista</a>
    </p>
  </div>
  <div class="col-4 text-right">
    <button class="btn btn-outline-danger" routerLink="/search">Volver</button>
  </div>
</div>

<div class="row m-5" *ngIf="!loading && !error">
  <div class="col">
    <table class="table">
      <thead>
      <tr>
        <th>Foto</th>
        <th>Album</th>
        <th>Canción</th>
        <th>Vista previa</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of tracks">
          <td>
            <img [src]="track.album.images | noimage" class="img-thumb" />
          </td>
          <td>{{ track.album.name }}</td>
          <td>{{ track.name }}</td>
          <td>
            <iframe [src]="track.uri | domseguro" width="300" height="80"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
