<div class="alert alert-danger animated fadeIn" *ngIf="error">
  <h3>Error</h3>
  <p>
    {{ msgError }}
  </p>
</div>

<div class="row">
  <div class="col">
    <input #termino type="text" (keyup)="search(termino.value)" class="form-control" placeholder="Buscar artista...">
  </div>
</div>

<app-loading *ngIf="loading" class="m-5"></app-loading>
<app-cards [items]="artists" class="m-5" *ngIf="!loading && !error"></app-cards>
