<div class="card-columns animated fadeIn">
  <div class="card puntero" *ngFor="let item of items" (click)="viewArtist( item )">
    <img class="card-img-top" [src]="item.images | noimage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text" *ngIf="item.artists">
        <span *ngFor="let artist of item.artists" class="badge badge-pill badge-primary">{{ artist.name }}</span>
      </p>
    </div>
  </div>
</div>
